@tailwind base;

@tailwind components;

.btn {
  @apply text-base py-8 px-16 text-c100 font-extrabold bg-c300;
}
.underline {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  display: inline-block;
  line-height: 1;
  border-bottom-width: 1px;
}
@tailwind utilities;
