.sponsor {
  @apply px-4 py-2 m-2;
}
.sponser-border__top {
  border-color: rgba(55, 78, 92, 0.116);
}
 .sponser__logo img{
  filter: invert(95%) sepia(7%) saturate(52%) hue-rotate(155deg) brightness(93%) contrast(86%);
  transition: all .2s;
 }

 .sponser__logo:hover img {
   filter: unset;
 }