/* .nav__ul {
  padding-right: 8%;
  padding-left: 2rem;
} */
body {
  overflow-x: hidden;
}
/* * {
  border: 1px solid red;
} */
.menu_toggler .fa-bars {
  font-size: 2rem;
}
.menu_toggler .fa-times {
  font-size: 2rem;
}
.navbar__logo__wrapper {
  position: relative;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .menu-navbar-wrapper {
    transform: translateY(-150%);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .open-nav .menu-navbar-wrapper {
    opacity: 1;
    transform: translateY(0);
  }
  .start__donantion__btn {
    padding: 1.5rem;
    width: 100%;
  }

  .navbar__logo__wrapper .logo img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
      hue-rotate(145deg) brightness(109%) contrast(101%);
    min-width: 7rem;
    padding: 1rem;
  }
  .navigation__link {
    padding: 1rem;
    width: 100%;
    display: block;
  }

  .mainnav__container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .nav__ul {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  .nav__ul {
    padding-right: 8%;
    padding-left: 2rem;
  }

  .navigation__link {
    padding: 1.6rem 1rem 1.6rem 1rem;
  }
}
