.menu_toggler .fa-bars {
  font-size: 2rem;
}
.menu_toggler .fa-times {
  font-size: 2rem;
}
.navbar__logo__wrapper {
  position: relative;
  z-index: 1000;
}

.start__donantion__btn {
  padding: 1.5rem;
  width: 100%;
}

.navbar__logo__wrapper .logo img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(145deg) brightness(109%) contrast(101%);
  min-width: 7rem;
  padding: 1rem;
}

.mainnav__container {
  width: 100%;
}
.menu-navbar-wrapper {
  display: none;
}
.open-nav .menu-navbar-wrapper {
  display: flex;
}
.navbar__inner {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .menu-navbar-wrapper {
    display: flex;
  }
  .nav__ul {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .menu-navbar-wrapper {
    transform: unset;
    opacity: 1;
  }

  .mainnav__container {
    width: unset;
  }
  .nav__ul {
    width: 78%;
    padding-right: 8%;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav__ul {
    padding-right: 8%;
    padding-left: 2rem;
    max-height: 5rem;
  }

  .mainnav__container {
    width: 78%;
  }
}
