.upcoming-events__header {
  margin-bottom: 3rem;
}
.vertical-text {
  writing-mode: vertical-rl;
}
.vertical {
  letter-spacing: 0.24em;
  font-size: 3.09rem;
  /* padding-top: .5rem; */
  text-align: left;
}
.event-card-wrapper {
  border: 1px solid #eff0eb;
}
.event-card-wrapper_image img {
  width: 150px;
  height: 170px;
}
.event-card-wrapper__date {
  position: absolute;
  background-color: #ffffff;
  top: calc(50% - 40px);
  left: -40px;
  padding: 7px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.event_date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #3d9c85;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
.r-line-overlay {
  position: absolute;
  z-index: 12;
  height: 100%;
  left: 86%;
}
.card-border {
  border-color: #eff0eb;
}
.upcoming-events__bg-image {
  top: -25%;
  left: -5%;
}

.upcoming-events_description {
  width: 85%;
}

.event-date {
  position: relative;
  z-index: 30;
  top: 0;
  left: -13%;
}

.event-img {
  width: 130px;
  /* height: 160px; */
}
.event-img img {
  width: 100%;
}

.urgent-case__title {
  font-size: 1.5rem;
  width: 21ch;
}
.urgent-case__desc {
  width: 35ch;
}
/* ============================== */
.right-fund-card {
  background-color: #d55343;
}

.right-fund-card .event-btn {
  position: absolute;
  bottom: 0;
}
.r-card-font-color {
  color: #ffffffbd;
}

.guage .percentage-circle {
  background-color: #d55343;
}

.urgent-cause-event_info {
  position: relative;
  top: -2rem;
}
.percent {
  position: relative;
  width: 208px;
  height: 208px;
  border-radius: 50%;
  z-index: 1000;
}
.percent .number {
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(90deg);
}
.percent .number h2 {
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.main_circle {
  width: 208px;
  height: 208px;
  z-index: 1000;
}

svg circle {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 4;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 565;
}
.percentage-circle:nth-child(1) svg circle:nth-child(2) {
  /* stroke-dashoffset: calc(440 - (440 * 88) / 50); */
  stroke: rgba(32, 32, 32, 0.39);
}
/* ========================= */
.dot circle {
  stroke: white;
  stroke-width: 9;
  fill: #d55343;
}

svg.dot {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: calc(100% - 81px);
  right: -2px;
  transform: translate(5px, 5px);
}
.circle-pointer {
  position: relative;
}
.dot-pointer {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.guage {
  transform: rotate(-90deg);
}
