.welcome {
  background: url('./img/back-pattern.png');
  background-position-x: right;
  background-position-y: -11.75rem;
  background-size: auto;
  background-repeat: no-repeat;
}

.welcome__start {
  width: calc(100% + 2rem);
}

.welcome__start__img::before {
  content: url('./img/rect-dots.png');
  position: absolute;
  bottom: -4rem;
  left: -9.3rem;
  width: 15.5rem;
  height: 8rem;
  object-fit: contain;
  z-index: -1;
}

.welcome__start__img::after {
  content: url('./img/tri-dots.png');
  position: absolute;
  top: 1.5rem;
  right: -4rem;
  width: 4rem;
  height: 8rem;
  object-fit: contain;
}

.welcome__start__side {
  left: -3rem;
}
.welcome__list__item__title::before {
  content: '';
  width: 5px;
  height: 5px;
  color: #d55342;
  background-color: #e80606;
  position: absolute;
  top: 12px;
  left: -1rem;
  font-weight: 800;
  border-radius: 50%;
}

/* 
@media (min-width: 425px) and (max-width: 767px) {
  .welcome {
  
  }
} */

/* sm screen size */
@media (min-width: 640px) and (max-width: 767px) {
  .welcome {
    background-color: firebrick;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .welcome {
    /* background-color: darkorange; */
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .welcome {
    /* background-color: deeppink; */
  }
}
