.welcome {
  background: url('./img/back-pattern.png');
  background-position-x: right;
  background-position-y: -11.75rem;
  background-size: auto;
  background-repeat: no-repeat;
}

.welcome__start {
  width: calc(100% + 2rem);
}

.welcome__start__img::before {
  content: url('./img/rect-dots.png');
  position: absolute;
  bottom: -4rem;
  left: -9.3rem;
  width: 15.5rem;
  height: 8rem;
  object-fit: contain;
  z-index: -1;
}

.welcome__start__img::after {
  content: url('./img/tri-dots.png');
  position: absolute;
  top: 1.5rem;
  right: -4rem;
  width: 4rem;
  height: 8rem;
  object-fit: contain;
}

.welcome__start__side {
  left: -3rem;
}
.welcome__list__item__title::before {
  content: '';
  width: 5px;
  height: 5px;
  color: #d55342;
  background-color: #e80606;
  position: absolute;
  top: 12px;
  left: -1rem;
  font-weight: 800;
  border-radius: 50%;
}

@media (max-width: 425px) {
  .welcome_description {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .welcome {
    background-size: 0;
  }
}
@media (min-width: 425px) and (max-width: 640px) {
  .welcome_header {
    font-size: 2.4rem;
  }
  .welcome_description {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .welcome {
    background-size: 0;
  }
  .welcome .container {
    width: calc(90% + 2rem);
  }

  .welcome__list {
    display: flex;
    text-align: center;
  }
  .welcome__list__item__title::before {
    display: none;
  }
  /* ul p font-size */
  .welcome__list__item p {
    line-height: 1.6em;
    font-size: 0.95rem;
  }
}

/* sm szcreen size */
@media (min-width: 640px) and (max-width: 768px) {

  .welcome__start__side {
    display: none;
  }
  .welcome__start__img::after {
    display: none;
  }
  .welcome__list__item__title::before {
    display: none;
  }
  .welcome__start__img::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .welcome .container {
    width: calc(90% + 2rem);
  }
  .welcome__list__item__title::before {
    display: block;
  }
  .welcome__start__img::before {
    display: block;
  }
  .welcome__start__img::after {
    display: block;
  }
}