.causes {
  background-image: url('./img/blocks.png');
  background-repeat: no-repeat;
  background-position: 0% -15%;
}

.causes__card {
  padding: 30px;
  border-color: #f0ece3;
}

.causes__img img {
  object-fit: cover;
  width: 100%;
  max-width: 310px;
  max-height: 310px;
}

.causes__icon--funds,
.causes__icon--goal {
  left: 32px;
}

.causes__icon--tag {
  left: 5.75rem;
  top: 2px;
}

.causes__icon i {
  color: #3170e4;
}
.causes__raised {
  margin-bottom: 10px;
  transform: rotateX('180deg');
}

.causes__progress__progress-bar {
  position: absolute;
  height: 100%;
  width: 40%;
}

.causes__progress__tooltip {
  position: absolute;
  width: 45px;
  height: 30px;
  bottom: 12px;
  left: 40%;
  transform: translateX(-10px);
  clip-path: polygon(
    0 0,
    70% 0%,
    100% 0,
    100% 75%,
    45% 75%,
    25% 100%,
    25% 75%,
    0 75%
  );
  padding-top: 2px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.causes__btn {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
