.donation-banner__icon {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}



.donation-banner__btn:hover {
  color: rgb(37, 65, 81);
}



.donation-banner {
  height: 32rem;
}
@media (min-width: 320px) and (max-width: 768px) {
  .donation-banner__wrapper {
    margin-top: 0;
  }
  
  .donation-banner__icon {
    width: 125px;
    height: 125px;
  }

  .donation-banner__icon img {
      width: 80px;
  }

  .donation-banner-desc {
    font-size: 1.8rem;
    line-height: 1.3;
    letter-spacing: 1px;
    margin: 4rem 0;
  }
  
}

@media (min-width: 768px) {
  .donation-banner__btn {
    padding: 2rem 4rem;
  }

  .donation-banner-desc {
    font-size: 3.75rem;
    margin-bottom: 4rem;
    letter-spacing: -0.025em;
    line-height: 1.2;
  }

  .donation-banner {
    min-height: 39.375rem;
  }
}
