.donation-banner {
  min-height: 39.375rem;
}
.donation-banner__icon {
  width: 200px;
  height: 200px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.donation-banner__btn:hover {
  color: inherit !important;
}
