.listItem {
  margin-bottom: 1.25rem;
  &:nth-last-of-type(1) {
    margin-bottom: unset;
  }
  &__image-container {
    width: 90px;
    height: 90px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
