.upcoming-events-section {
  grid-template-rows: 12.5rem 24.5rem;
  row-gap: 3.5rem;
}
.upcoming-events__header {
  margin-bottom: 3rem;
  z-index: 2;
}
.vertical-text {
  writing-mode: vertical-rl;
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
  transform: translateX(6.25rem);
  letter-spacing: 0.27em;
  white-space: nowrap;
}
.vertical {
  letter-spacing: 0.24em;
  font-size: 3.09rem;
  text-align: left;
}
.event-card-wrapper {
  border: 1px solid #eff0eb;
  height: 180px;
}

.event-card-wrapper_image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.event-card-wrapper__date {
  position: absolute;
  background-color: #ffffff;
  top: calc(50% - 40px);
  left: -40px;
  padding: 7px;
  width: 87px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.event_date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #3d9c85;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.event-card-wrapper__timing {
  font-size: 0.9375rem;
}
.event-card-wrapper__topic {
  font-size: 1.375rem;
}
.card-border {
  border-color: #eff0eb;
}

.event-date {
  position: relative;
  z-index: 30;
  top: 0;
  left: -13%;
}

.event-img {
  width: 130px;
}
.event-img img {
  width: 100%;
}

.urgent-case__title {
  font-size: 1.5rem;
  width: 21ch;
}
.urgent-case__desc {
  width: 35ch;
}
