.upcoming-events-section {
  background: url('./img/bg_1.png') no-repeat;
  background-position-x: left;
  background-position-y: -200px;
}

.upcoming-events-section__container {
  grid-template-rows: 12.5rem 24.5rem;
  row-gap: 3.5rem;
}

.upcoming-events__header {
  margin-bottom: 3rem;
  z-index: 2;
}
.vertical-text {
  writing-mode: vertical-rl;
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
  transform: translateX(6.25rem);
  letter-spacing: 0.27em;
  white-space: nowrap;
}
.vertical {
  letter-spacing: 0.24em;
  font-size: 3.09rem;
  text-align: left;
}
.event-card-wrapper {
  border: 1px solid #eff0eb;
  min-height: 160px;
}

.event-card-wrapper_image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.event-card-wrapper__date {
  position: absolute;
  background-color: #ffffff;
  top: calc(50% - 40px);
  left: -40px;
  padding: 7px;
  width: 87px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.event_date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #3d9c85;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.event-card-wrapper__timing {
  font-size: 0.9375rem;
}
.event-card-wrapper__topic {
  font-size: 1.375rem;
  margin: 10px 0;
}

.event-card-wrapper__topic p {
  line-height: 1.5;
}

.card-border {
  border-color: #eff0eb;
}

.event-date {
  position: relative;
  z-index: 30;
  top: 0;
  left: -13%;
}

.event-img {
  width: 130px;
}
.event-img img {
  width: 100%;
}

.urgent-case__title {
  font-size: 1.5rem;
  width: 70%;
}
.urgent-case__desc {
  width: 70%;
}

/* Media Queiry */

/* Large Screen */

@media (max-width: 1024px) {
  .upcoming-events-section__container {
    display: block;
  }
  .upcoming-events h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .upcoming-events-section {
    background: unset;
  }

  .upcoming-events p {
    text-align: center;
    margin: 60px auto;
  }

  .vertical-text {
    writing-mode: unset;
    grid-column: unset;
    grid-row: unset;
    transform: unset;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    border-top: 1px solid #c7c7c7;
    padding-top: 30px;
  }
}

/* Small Screen */

@media (max-width: 768px) {
  .event-card-wrapper__topic {
    font-size: 1.2rem;
  }
  .Upcoming-Events-Card {
    max-width: 400px;
    margin: 5px auto;
  }
}

/* Special articles media query */

@media (max-width: 1024px) and (min-width: 640px) {
  .articles-component {
    flex-direction: row;
  }
  .event-card-wrapper {
    flex-direction: column;
    width: 49%;
  }

  .event-card-wrapper_image {
    width: 100%;
    height: 200px;
  }

  .event-card-wrapper__details {
    padding-top: 60px;
    width: unset;
  }

  .event-card-wrapper__date {
    left: calc(50% - 40px);
    top: -40px;
  }

  .Upcoming-Events-Card {
    max-width: 100%;
    margin: 5px auto;
  }

  .right-fund-card {
    flex-direction: row;
  }

  .guage {
    margin: 5px auto;
  }

  .urgent-cause-event_info h3 {
    width: unset;
  }

  .urgent-cause-event_info > div > p {
    margin-right: 30px;
  }
}

@media (min-width: 1024px) {
  .event-card-wrapper_image {
    height: 11.25rem;
  }
}
