.donation-banner {
  background-image: linear-gradient(
      rgba(41, 68, 85, 0.5),
      rgba(41, 68, 85, 0.7)
    ),
    url('../img/donation-banner/donation-banner-bg.jpg');
}

.donation-banner__content {
  font-size: 3.75rem;
}

.donation-bnanner__icon {
  width: 200px;
  height: 200px;
  top: calc(200px - 50%);
  left: calc(50% - 100px);
}
