.widget-search {
  background-color: #fafafa;
  max-width: 370px;
  height: 190px;
  margin: 0 auto;
  &__title {
    font-size: 1.375rem;
  }
  &__line {
    height: 0.25rem;
  }
  &__containter {
    input::placeholder {
      color: white;
    }
  }
}
