.volunte {
  background-image: url('./img/blocks.png');
  background-position: 0 -300px;
  background-repeat: no-repeat;
}
.volunte .description {
  font-size: 40px;
}

.volunte button a:hover {
  color: unset;
}
