.activity::after {
  content: '';
  position: absolute;
  height: 80%;
  left: 0;
  bottom: 10%;
  border-right: 1px solid #eff0eb;
}

.heart-bg {
  background:  url('img/heart.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  float: right;
}
