header .slider {
  height: 100%;
  /* height: 50rem; */
}
header .slider .overlay {
  background-color: rgb(37, 65, 81, 0.8);
}
.header__carousel__arrows {
  top: calc( 50% - 26px );
}
header .slider .overlay .header__carousel__slide .text a {
  color: #fff;
}
header .slider .overlay .header__carousel__slide .text .main img {
  width: 60px;
}
header .slider .overlay .header__carousel__slide .text .main p {
  font-size: 5rem;
}

.header__carousel__slide {
  /* background-image:url('./img/slider.jpg'); */
  background:linear-gradient(0deg, #203b4cb5, #203b4cb5), url('./img/slider.jpg');
  background-size: cover;
  background-position: center;
}

.header__carousel__arrows button {
  outline-style: none;
}

.header__carousel__arrows button:disabled {
  border-color: #a39d9d;
  color: #a39d9d;
}

.header__carousel__arrows button:not([disabled]):hover {
  background-color: #d55342;
  color: #efc94c;
  border-color: white;
  transition: all 0.2s ease-out;
}

.header__carousel__arrows button:not([disabled]):hover div {
  border-color: #d55342;
  transition: all 0.2s ease-out;
}