.causes__bg-image {
  top: -7%;
}
.causes__wrapper {
  grid-gap: 30px;
  max-width: 1170px;
  margin: auto;
}

.causes__card {
  padding: 30px;
  border-color: #f0ece3;
}

.causes__img img {
  object-fit: cover;
  width: 100%;
  max-width: 310px;
  max-height: 310px;
}

.causes__icon--funds,
.causes__icon--goal {
  left: 32px;
}

.causes__icon--tag {
  left: 5.75rem;
  top: 2px;
}

.causes__icon i {
  color: #4777ce;
}
.causes__raised {
  transform: rotateX('180deg');
}

.causes__progress {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #f0ece3;
}
.causes__progress::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
}
.causes__progress--first::before,
.causes__progress--first::after {
  background-color: #3d9c89;
}
.causes__progress--second::before,
.causes__progress--second::after {
  background-color: #d55342;
}
.causes__progress--third::before,
.causes__progress--third::after {
  background-color: #4777ce;
}
.causes__progress::after {
  content: '40%';
  position: absolute;
  width: 45px;
  height: 30px;
  bottom: 12px;
  left: 40%;
  transform: translateX(-10px);
  clip-path: polygon(
    0 0,
    70% 0%,
    100% 0,
    100% 75%,
    45% 75%,
    25% 100%,
    25% 75%,
    0 75%
  );
  padding-top: 2px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.causes__btn {
  background-color: #f0ece3;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: background 0.3s;
}
.causes__btn:hover {
  background-color: #efc94c;
}
