.quotes-section figure {
  bottom: 17rem;
  width: 56.25rem;
  height: 28.125rem;
  margin: 0 auto;
}
.quotes-section figure::before {
  color: #efc94c;
  content: open-quote;
  font-size: 7.5rem;
  position: absolute;
  left: 3rem;
  top: 1rem;
}
.quotes-section figure:after {
  color: #efc94c;
  content: close-quote;
  font-size: 7.5rem;
  position: absolute;
  bottom: -2rem;
  right: 3rem;
}
.quotes-text {
  font-size: 1.75rem;
}
