.feedback {
  padding: 0rem;
}
.feedback__heading {
  padding-bottom: 17rem;
}
.feedback__quote figure {
  bottom: 5rem;
  left: calc(12.5%);
  box-shadow: 0px -30px 0px -14px rgba(59, 84, 98, 0.5),
    0px -60px 0px -31px rgba(48, 75, 90, 1);
}
.feedback__quote__block {
  width: 60%;
  max-width: 1170px;
  top: 18rem;
  left: 18rem;
}
figure::before {
  color: #efc94c;
  content: open-quote;
  font-size: 7.5rem;
  position: absolute;
  left: 3rem;
  top: 1rem;
}
figure:after {
  color: #efc94c;
  content: close-quote;
  font-size: 7.5rem;
  position: absolute;
  bottom: -2rem;
  right: 3rem;
}
.feedback__quote__text {
  font-size: 1.75rem;
}
.feedback__carousel {
  font-size: 1.5rem;
}
