%btn {
  @apply leading-none text-base text-c100 font-extrabold px-16;
}

.btn-lg {
  @extend %btn;
  @apply py-8;
}

.btn-md {
  @extend %btn;
  @apply py-7;
}
.btn,
.btn-md,
.btn-lg,
.btn-sm,
.btn-card {
  transition: 0.3s;
}
.btn:hover,
.btn-md:hover,
.btn-lg:hover,
.btn-sm:hover,
.btn-card:hover {
  box-shadow: 0px 5px 10px -5px;
}

.btn-sm {
  @extend %btn;
  @apply py-5;
}
.btn-card {
  @apply text-base font-extrabold bg-c300 py-6 px-24 text-c100;
}
.underline {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  display: inline-block;
  line-height: 1;
  border-bottom-width: 1px;
}

section {
  @apply py-28;
}
.container {
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}

body {
  min-width: 1170px;
}

p {
  @apply leading-loose;
}

/* Items showcase in row (works for activities and work style sections) */
.showcase-row {
  @apply flex flex-row justify-center;
}

.showcase-row__heading {
  @apply text-c100 text-md py-3 font-bold;
}
