html,
body {
  overflow-x: hidden;
  width: 100%;
}

%btn {
  @apply leading-none text-base text-c100 font-extrabold px-16;
}

.btn-lg {
  @extend %btn;
  @apply py-8;
}

.btn-md {
  @extend %btn;
  @apply py-7;
}
.btn {
  transition: 0.1s;
}
.btn:hover {
  filter: brightness(90%);
}

.btn-sm {
  @extend %btn;
  @apply py-5;
}
.btn-card {
  @apply text-base font-extrabold bg-c300 py-6 px-24 text-c100;
}

a {
  transition: background 0.1s;
}
a:hover {
  color: #efc94c;
}

.underline {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  display: inline-block;
  line-height: 1;
  border-bottom-width: 1px;
}

section {
  @apply py-28;
}
.container {
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 85%;
  }
}
p {
  @apply leading-loose;
}

/* Items showcase in row (works for activities and work style sections) */
.showcase-row {
  @apply flex flex-row justify-center;
}

.showcase-row__heading {
  @apply text-c100 text-md py-3 font-bold;
}
