.upcoming-events{
    /* background-image: url('upcoming-events.jpg'); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(158, 157, 158); */
    border: 3px solid green;
    /* padding: 0; */
    /* background-color: cyan; */
}
.events-header{
  margin-bottom: 3rem;
}
.vertical-text{
   writing-mode: vertical-rl;
}
.vertical{
  /* background-color: cadetblue; */
  letter-spacing: .29em;
  font-size: 2.9rem;
  padding-top: 3rem;
  text-align: left;
}
.overlay{
  position: absolute;
  z-index: 12;
  top: 55;
  left: 86%;

}
.test{
  /* background-color: coral; */
  border: 3px solid green;
}

.event-description{
  line-height: 1.5rem;
}
.card22{
  /* background-color: #d55343; */
   width: 20rem;
}
.event-date{
  position: relative;
  z-index: 30;
  top: 0;
  left: -13%;
}
.card33{
  background-color: coral;
}
.event-img{
  width: 130px;
  height: 160px;
}
.event-img img{
  width: 100%;
  height: 100%;
}
