.upcoming-events{
  /* border: 3px solid green; */
}
.events-header{
  margin-bottom: 3rem;
}
.vertical-text{
   writing-mode: vertical-rl;
}
.vertical{
  /* background-color: cadetblue; */
  letter-spacing: .29em;
  font-size: 2.9rem;
  padding-top: 1.3rem;
  text-align: left;
}
.overlay{
  position: absolute;
  z-index: 12;
  top: 55;
  left: 86%;
}
.test{
  /* border: 3px solid green; */
}

.event-description{
  line-height: 1.5rem;
  width: 85%;
}

.event-date{
  position: relative;
  z-index: 30;
  top: 0;
  left: -13%;
}
.card33{
  background-color: coral;
}
.event-img{
  width: 130px;
  height: 160px;
}
.event-img img{
  width: 100%;
  height: 100%;
}

/* ============================== */
.right-fund-card{
  background-color: #d55343;
  height: 84vh;
  margin-top: 1rem;
  /* background-image: url('../../dist/assets/img/events/blocks.png'); */
}
.events-donate{
  background-color: #efc94c;
}