.blocks-bg {
  background: no-repeat url('../img/work-style/blocks.png');
  background-position: right;
  background-size: 60%;
  float: right;
  height: 70vh;
}

.dots-bg {
  background: no-repeat url('../img/work-style/dots.png');
  background-size: 30%;
  margin-top: -22rem;
}
