.blocks-bg {
  background: no-repeat url('../img/work-style/blocks.png');
  background-position: right;
  background-size: 60%;
  float: right;
  height: 80vh;
}

.dots-bg {
  background: no-repeat url('../img/work-style/dots.png');
  background-size: 30%;
  margin-top: -26rem;
}

.work-style__items {
  width: 80%;
}

.image-container {
  width: 100%;
  height: 100%;
  display: none;
  background-image: url(../img/causes/causes-card1.jpg);
  background-size: cover;
}

.work-style__items .col-div:hover .icon-div img {
  display: none;
}

.work-style__items .col-div:hover .icon-div .image-container {
  display: block;
}
