.blocks-bg {
  background: no-repeat url('../img/work-style/blocks.png');
  background-position: right;
  background-size: 60%;
  float: right;
  height: 80vh;
}

.dots-bg {
  background: no-repeat url('../img/work-style/dots.png');
  background-size: 30%;
  margin-top: -26rem;
}

.hover-state-pic {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  @apply -mt-6;
}

.work-style__items {
  width: 80%;
}
