.contact-section {
  background-color: #203948;
}
.contact-section__contacts {
  flex-grow: 3;
  justify-content: center;
}

.contact-section__social-icon {
  @apply bg-c100 w-12 h-12 rounded-full flex justify-center items-center p-2 text-sm mr-2;
}

.contact {
  @apply flex items-center  px-8;
}

.contact:last-of-type {
  @apply pr-0;
}

.contact-icon {
  @apply pr-3 w-8;
  filter: brightness(0) saturate(100%) invert(85%) sepia(87%) saturate(6806%)
    hue-rotate(321deg) brightness(102%) contrast(87%);
}

.contact-icon img {
  min-width: 20px;
}

.border-right {
  border-color: #374e5c;
  @apply border-r;
}

.information-small {
  @apply text-xxs text-c700;
}

.full-width-click {
  @apply p-4;
  color: #e5e5e5;
  font-size: 16px;
}

.full-width-click:hover {
  color: #ffffff;
}

.information {
  @apply tracking-wide;
}

@media screen and (max-width: 1024px) {
  .contact-section__contacts {
    max-width: fit-content;
  }
  .border-right {
    border: none;
  }
}
