/*! purgecss start ignore */
@import url('pure-react-carousel/dist/react-carousel.es.css');
/*! purgecss end ignore */

.main-slider {
  width: 700px;
  position: relative;
}

.App-header {
  font-size: 1rem;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.sliderWrapper {
  color: black;
  padding-top: 6rem;
}

.feedback__heading {
  /* background-color: rgb(105, 70, 3); */
  width: 80%;
  margin: auto;
}
.feedback {
  min-height: 38rem;
  margin-bottom: 17.25rem;
  /* text-align: center; */
}
.feedback__carousel__quote {
  grid-area: quote;
  position: relative;
  padding-top: 5rem;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}
.feedback__carousel__back-arrow {
  grid-area: back;
  position: relative;
  top: 23rem;
}
.feedback__carousel__forward-arrow {
  grid-area: forward;
  position: relative;
  top: 23rem;
}
.feedback__carousel__picker {
  grid-area: picker;
}
.feedback__carousel__quote {
  box-shadow: 0px -30px 0px -14px rgba(59, 84, 98, 0.5),
    0px -60px 0px -31px rgba(48, 75, 90, 1);
}

.feedback__carousel__quote::before {
  color: #efc94c;
  content: open-quote;
  font-size: 7.5rem;
  position: absolute;
  left: 3rem;
  top: 1rem;
}
.feedback__carousel__quote::after {
  color: #efc94c;
  content: close-quote;
  font-size: 7.5rem;
  position: absolute;
  bottom: -2rem;
  right: 3rem;
}
.feedback__carousel {
  font-size: 1.95rem;
}

.feedback__quote__text p {
  /* line-height: 0.2rem; */
}
.rounded-full {
  border-radius: 50%;
}

.mx-auto {
  margin: auto 0;
}
.feedback_grey_layer {
  width: 70%;
  height: 400px;
  background-color: #a52a2a14;
  position: absolute;
  margin: auto;
  left: 15%;
  top: 100%;
  z-index: -99;
}

.testimonials_pre_btn {
  left: -10rem;
}
.testimonials_nxt_btn {
  right: -10rem;
}

.slider_pre_next_btn {
  position: absolute;
  background-color: #f8eeee;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  top: 76%;
  color: #254151;
  border: 2px solid #254151;
}

.testimonials_nxt_btn:disabled {
  border-color: #2541516e;
  color: #2541516e;
}

.testimonials_nxt_btn:focus {
  outline: none;
}

.testimonials_dots_group {
  display: flex;
  text-align: center;
  justify-content: center;
}
.testimonials_dots_group button {
  /* background-color: rgb(173, 168, 168); */
   border: 10px solid #a39d9d;
  margin: 5px;
  padding: 3px;
  border-radius: 50%;
  position: relative;
  z-index: 9999;
}

.testimonials_dots_group button:disabled {
  border: 10px solid #d55342;
}
