.breadcrumb-list {
  position: relative;
}
.nav__ul__items li:not(:last-child)::after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: calc(50% - 2.5px);
  transform: translateX(10px);
}
.articles__banner {
  height: 500px;
  position: relative;
}
.article__banner_desc {
  max-width: 72ch;
}
.articles__banner__links {
  position: absolute;
  top: calc(100% - 100px);
  left: calc(50% - 125px);
}
.nav__ul__items {
  width: 250px;
}
@media (max-width: 768px) {
  .nav__ul__items {
    width: unset;
  }
  .header__loader {
    height: 700px;
  }
  .carousel__slide {
    min-height: 300px;
  }

  .header__carouser__slide__textContent {
    width: 80%;
  }

  .header__carouser__slide__textContent .main {
    margin-bottom: 30px;
  }

  .header__carouser__slide__textContent .main h2 {
    font-size: 3.5rem;
    margin-bottom: auto;
  }
  .header__carouser__slide__intro {
    font-size: 1rem;
  }
}
