.news__image-container {
  min-width: 60px;
}

.footer {
  background-image: url(/assets/img/footer/hands.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
