.statistics-content__item__value {
  line-height: 2.5rem;
}
.statistics-wrapper__image {
  height: 25rem;
  background-size: cover;
  background-position: center;
}
.statistics-numbers__speak__text {
  width: 21rem;
  bottom: -22px;
  left: calc(50% - 10.5rem);
  line-height: 2.5rem;
}
.statistics-numbers__speak__text::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 22px;
  background-color: #3d9c85;
  left: -7px;
  bottom: 0;
  transform: skew(20deg);
}
.statistics-numbers {
  background-color: #f0ece3;
}

.statistics-numbers__speak__text::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 22px;
  background-color: #3d9c85;
  right: -7px;
  bottom: 0;
  transform: skew(-20deg);
  border-top-left-radius: 4px;
}
.statistics-content__item__name {
  line-height: 2.5rem;
}
.statistics-wrapper__dots-image {
  top: -3.375rem;
  left: 5rem;
  z-index: -1;
}

.statistics-wrapper__dots-image img {
  width: 7.25rem;
  height: 15rem;
}

.statistics-wrapper__circle-image {
  top: -14.8rem;
  right: 1%;
}

.statistics-wrapper__circle-image img {
  height: 100%;
  width: 100%;
}
.statistics-wrapper__blocks-image {
  bottom: -104px;
  left: 0;
}
.statistics-wrapper__blocks-image img {
  width: 20rem;
  height: 20rem;
}
