.volunte img {
  width: 350px;
  height: 350px;
  top: -100px;
  left: -30px;
}

.volunte .description {
  font-size: 28px;
}

@media (max-width: 768px) {
  .volunte .description {
    font-size: 22px;
  }
}
